@import 'global-styles/_colors.scss';

.ship {
  cursor: pointer;
  width: 160px;
  min-height: 140px;
  position: relative;
  margin: 16px;

  &:hover {
    border: 1px solid $color-primary-1;
  }

  &__rotate {
    z-index: 999;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 6px;
  }

  &__asset {
    height: 50px;
    object-fit: contain !important;
  }

  &__title {
    overflow-wrap: break-word;
    text-transform: lowercase;
    &:first-letter {
      text-transform: capitalize;
    }
  }

  &--SHIP_HORIZONTAL {
    transform: rotate(0deg);
    .ship {
      &__rotate {
        top: 6px;
      }
    }
  }
  
  &--SHIP_VERTICAL {
    transform: rotate(270deg);
    .ship {
      &__rotate {
        bottom: 6px;
      }
    }
  }

  &--selected {
    border: 3px solid $color-primary-1;
    &:hover {
      border: 3px solid $color-primary-1;
    }
  }
}